<div class="row">
  <div class="column grid_12" style="border-bottom: 1px solid #eee;">
    <h2>Sharing Center</h2>
  </div>
</div>

<div class="row">
	<div class="column grid_6">
	  <br/>
    <h3>What are you sharing?</h3>
	  <br/>
    <% form_for [@player, Share.new] do |f| %>
      <input type="radio" name="type" value="Task" id="set-Task" checked="checked" onclick="toggleStatus('Task');" /> Task
      <input type="radio" name="type" value="Link" id="set-Link" onclick="toggleStatus('Link');" class="share-type" /> Link
      <input type="radio" name="type" value="Xp" id="set-Xp" onclick="toggleStatus('Xp');" class="share-type" /> Experience<br/>
      <%= f.text_area :description, :rows => "5", :style => "width: 95%" %>
      <%= f.label :ref, "Reference (with http://)" %><br />
      <%= f.text_field :ref, :style => "width: 95%"  %><br />
      <%= f.submit "Share!", :class => "awesome large black button", :onclick => "return validateForm();" %>
    <% end %>
    <input type="text" name="link" value="www.rodeiodasgordas.cjb.net" style="display: none; font-size: 16px; width: 100%"/><br/>
  </div>

  <br />
  <div class="column grid_3 sidebar ranking" style="background-color: #eee; -webkit-border-radius: 5px;">
    <h3>Ranking</h3>
    <ul id="ranking">
    <% @players.each_with_index do |player, index| %>
      <li id="rank_<%= index + 1 %>">
        <%= image_tag(player.user.profile_image_url, :alt => player.user.name, :height => "35", :width => "35") %>
        <span class="player"><%= link_to(player.user.name, player_path(player)) %></span>
        <span class="points"><%= player.points %> <small>pts</small></span>
      </li>
    <% end %>
    </ul>
  </div>

  <% if @shares.count > 0 %>
  <div class="column grid_9">
    <h3 style="border-bottom: 1px solid #eee;">Activity</h3>
    <br />
  </div>
  <% end %>

  <div id="column grid_9">
  <% @shares.each do |share| %>
    <div class="column grid_9 comment <%= cycle("highlighted", "") %>">
      <ul class="share-action">
        <li><%= link_to("Comment", share_url(share) + "#new_comment") %></li>
        <% if share.class.to_s == "Task" %>
        <li>|</li>
        <li><%= link_to("Help Out", share_url(share), :class => "action") %></li>
        <% end %>
      </ul>
      <%= image_tag(share.player.user.profile_image_url, :alt => share.player.user.name, :height => "45", :width => "45") %>
      <p style="margin-bottom: 10px"><%= link_to(share.player.user.name, player_path(share.player)) %> <span><%= share.created_at.strftime("%d/%m/%Y at %H:%M")%></span></p>
      <div class="sharings-text">
        <cite><%= link_to(h(share.description), share_url(share)) %></cite>
      </div>
    </div>
  <% end %>
  </div>
<br/>
</div>

<script type="text/javascript">
  var type = "Task";

  jQuery(document).ready(function(){
    $('#share_ref').attr('disabled', true);
    $('#share_description').focus();
  })

  function toggleStatus(item){
    if(item == "Link"){
      $('#share_ref').removeAttr('disabled');
    }else{
      $('#share_ref').attr('disabled', true);
    }
    $('#share_description').focus();
    type = item;
  }

  function validateForm(){
    if($('#share_description').val().length < 5){
      alert('Invalid Description (at least 5 characters)');
      $('#share_description').focus();
      return false;
    }

    if(type == "Link"){
      if($('#share_ref').val().length < 12){
        alert('Invalid Reference (at least 12 characters)');
        $('#share_ref').focus();
        return false;
      }
    }

    return true;
  }
</script>