<div class="row">
  <div class="column grid_12">
    <h2>Leaderboard</h2>
  </div>
</div>
<br>
<table id="TableLeaderboard" cellSpacing="0" cellpadding="0" width="500px">
  <tr id="TableHeader">
    <th class="top-left">
      <p>Rank</p>
    </th>
    <th colspan="2">
      <p>Player</p>
    </th>
    <th>
      <p>Shares</p>
    </th>
    <th class="top-right">
      <p>Points</p>
    </th>
  </tr>
  <% @players.each_with_index do |player, index| %>
    <tr class="tableData th-<%= cycle("off","light") %>">
      <td>
        <p><%= index+1 %>.</p>
      </td>
      <td>
        <p><%= link_to(image_tag(player.user.profile_image_url, :height => "60", :width => "60"), player_path(player), {:class => "imageProfile"}) %></p>
      </td>
      <td>
        <p><%= link_to(player.user.name, player_path(player), {:class => "nameAlign"}) %></p>
      </td>
      <td>
        <p><%= player.shares.count %></p>
      </td>
      <td>
        <p><%= player.points %></p>
      </td>
    </tr>
  <% end %>
</table>
