<% content_for :page_title do %>
  <%= "Mekaniko - Task Share" %>
<% end %>

<div class="row">
  <div class="column grid_12" style="border-bottom: 1px solid #eee;">
    <h2>Task Share</h2>
  </div>
</div>

<div class="row">
  <br/>
  <div class="column grid_3 sidebar" style="background-color: #eee; -webkit-border-radius: 5px;">
    <h3>Latest Tasks</h3>
    <% Task.find(:all, :limit => 6, :order => 'created_at DESC').each do |item| %>
      <%= link_to("<p><strong>#{item.player.user.name}</strong> #{item.description}</p>", task_path(item)) %>
    <% end %>
  </div>

  <div class="column grid_2 portrait">
    <%= image_tag(@task.player.user.profile_image_url, :class => "avatar", :alt => @task.player.user.name, :height => "140", :width => "140") %>
    <p class="level"><%= @task.player.level.first %></p>
  </div>

  <div class="column grid_7 share" style="height: 170px">
    <p class="person"><%= link_to(@task.player.user.name, player_path(@task.player)) %> in <%= @task.created_at.strftime("%d/%m/%Y at %H:%M") %></p>
    <p class="act">Started the following task:</p>
    <% form_for [@task, TaskHelper.new] do |f| %>
      <%= error_messages_for 'task_helper' %>
      <p><%= h(@task.description) %> <%= start_to_help_link(@task, 1) %></p>
    <% end %>
  </div>

  <% if @task.task_helpers.count > 0 %>
  <div class="column grid_9 help-out">
    <br />
    <h3 style="border-bottom: 1px solid #eee;">People helping out</h3>
    <br />
    <% @task.task_helpers.each do |t_helper| %>
    <p><a href="profile"><%= t_helper.player.user.name %></a> since <%= t_helper.created_at.strftime("%d/%m/%Y") %></p>
    <% end %>
    <br />
  </div>
  <% end %>

  <% if @task.comments.count > 0 %>
  <div class="column grid_9">
    <br />
    <h3 style="border-bottom: 1px solid #eee;">Comments (<%= @task.comments.count %>)</h3>
    <br />
  </div>
  <% end %>

  <% @task.comments.each_with_index do |comment, index| %>
    <div class="column grid_9 comment <%= cycle("highlighted", "") %>" id="<%= "comment_#{index + 1}" %>">
      <strong><%= index + 1 %></strong>
      <%= image_tag(comment.player.user.profile_image_url, :alt => comment.player.user.name, :height => "45", :width => "45") %>
      <p><%= link_to(comment.player.user.name, player_path(comment.player)) %> <span><%= comment.created_at.strftime("%d/%m/%Y at %H:%M")%></span></p>
      <div>
        <cite><%= comment.content %></cite>
      </div>
    </div>
  <% end %>

  <div class="column grid_9">
    <br/>
    <% if @task.comments.count > 0 %>
    <h4 style="border-bottom: 1px solid #eee;">Leave a comment</h4>
    <% else %>
    <h4 style="border-bottom: 1px solid #eee;">Leave the first comment!</h4>
    <% end %>
    <br />
    <% form_for [@task, Comment.new] do |f| %>
      <input type="hidden" name="type" value="Task" />
      <%= f.text_area :content %>
      <%= f.submit "Post comment", :class => "awesome large green button" %>
    <% end %>
  </div>
</div>