<h1>Editing task_helper</h1>

<% form_for(@task_helper) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </p>
  <p>
    <%= f.label :task_id %><br />
    <%= f.text_field :task_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @task_helper %> |
<%= link_to 'Back', task_helpers_path %>