<h1>Listing links</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Description</th>
    <th>Ref</th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%=h link.player_id %></td>
    <td><%=h link.description %></td>
    <td><%=h link.ref %></td>
    <td><%= link_to 'Show', link %></td>
    <td><%= link_to 'Edit', edit_link_path(link) %></td>
    <td><%= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New link', new_link_path %>