<% content_for :page_title do %>
  <%= "Mekaniko - Link Share" %>
<% end %>

<div class="row">
  <div class="column grid_12" style="border-bottom: 1px solid #eee;">
    <h2>Link Share</h2>
  </div>
</div>

<div class="row">
  <br/>
  <div class="column grid_3 sidebar" style="background-color: #eee; -webkit-border-radius: 5px;">
    <h3>Latest Links</h3>
    <% Link.find(:all, :limit => 6, :order => 'created_at DESC').each do |item| %>
      <%= link_to("<p><strong>#{item.player.user.name}</strong> #{item.description}</p>", link_path(item)) %>
    <% end %>
  </div>

  <div class="column grid_2 portrait">
    <%= image_tag(@link.player.user.profile_image_url, :class => "avatar", :alt => @link.player.user.name, :height => "140", :width => "140") %>
    <p class="level"><%= @link.player.level.first %></p>
  </div>

  <div class="column grid_7 share" style="height: 170px">
    <p class="person"><%= link_to(@link.player.user.name, player_path(@link.player)) %> in <%= @link.created_at.strftime("%d/%m/%Y at %H:%M") %></p>
    <p class="act">Shared the following link:</p>
    <%= link_to(h(@link.description), @link.ref, :class => "link", :target => "_blank") %>
  </div>

  <% if @link.comments.count > 0 %>
  <div class="column grid_9">
    <br />
    <h3 style="border-bottom: 1px solid #eee;">Comments (<%= @link.comments.count %>)</h3>
    <br />
  </div>
  <% end %>

  <% @link.comments.each_with_index do |comment, index| %>
    <div class="column grid_9 comment <%= cycle("highlighted", "") %>" id="<%= "comment_#{index + 1}" %>">
      <strong><%= index + 1 %></strong>
      <%= image_tag(comment.player.user.profile_image_url, :alt => comment.player.user.name, :height => "45", :width => "45") %>
      <p><%= link_to(comment.player.user.name, player_path(comment.player)) %> <span><%= comment.created_at.strftime("%d/%m/%Y at %H:%M")%></span></p>
      <div>
        <cite><%= comment.content %></cite>
      </div>
    </div>
  <% end %>

  <div class="column grid_9">
    <br />
    <% if @link.comments.count > 0 %>
    <h4 style="border-bottom: 1px solid #eee;">Leave a comment</h4>
    <% else %>
    <h4 style="border-bottom: 1px solid #eee;">Leave the first comment!</h4>
    <% end %>
    <br />
    <% form_for [@link, Comment.new] do |f| %>
      <input type="hidden" name="type" value="Link" />
      <%= f.text_area :content %>
      <%= f.submit "Post comment", :class => "awesome large green button" %>
    <% end %>
  </div>
</div>
