<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Picture:</b>
  <%=h @player.picture %>
</p>

<p>
  <b>Points:</b>
  <%=h @player.points %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>