<div class="row">
	<div class="column grid_9 separation" style="	border-right: 1px solid gray;">
		<div class="row">
			<div class="column grid_2 portrait">
			<%= image_tag(@player.user.profile_image_url, :class => "avatar", :alt => @player.user.name, :height => "140", :width => "140") %>
    	<div class="level"><%= @player.level.first %></div>
			</div>
			<div class="column grid_6">
				<% if @player.user.name=="Arthur Macedo" %>
					<h2 id="arthur_name"><%= @player.user.name %></h2>
				<% else %>
					<h2 id="player_name"><%= @player.user.name %></h2>
				<% end %>
				<% @width = (@player.points.to_f/@player.level.last)*100  %>
				<div id="progressbar_outer"><%= "<div id=\"progressbar_inner\" style=\"width: #{@width}%\" \> <span class=\"levels\"> #{@player.points}\/#{@player.level.last} </span> </div></div>" %>
			</div>
		</div>
		<div class="row">
			<div class="column grid_2">
				&nbsp;
			</div>
			<div class="column grid_5">
				<hr>
					<table style="width:60%">
						<tr>
							<td class="shares"><h6>TASKS</h6><br /><span class="numbers" id="tasks"><%= @player.tasks.count %></span></td>
							<td class="shares"><h6>LINKS</h6><br /><span class="numbers" id="links"><%= @player.links.count %></span></td>
							<td class="shares"><h6>XPS<h6><br /><span class="numbers" id="xps"><%= @player.xps.count %></span></td>
						</tr>
					</table>
			</div>
		</div>
    <div class="row">
      <div class="column grid_9">
        <div class="row" id="comments">
        <% if @player.shares.count > 0 %>
        <div class="column grid_9">
          <h3 style="border-bottom: 1px solid #eee;">Activity</h3>
          <br />
        </div>
        <% end %>
        <% @player.shares.find(:all, :limit => 10, :order => "created_at DESC").each do |share| %>
          <div class="column grid_9 comment <%= cycle("highlighted", "") %>">
            <ul class="share-action">
              <li><%= link_to("Comment", share_url(share)) %></li>
              <% if share.type == "Task" %>
              <li>|</li><li><%= link_to("Help Out", share_url(share), :class => "action") %></li>
              <% end %>
            </ul>
            <%= image_tag(share.player.user.profile_image_url, :alt => share.player.user.name, :height => "45", :width => "45") %>
            <p style="margin-bottom: 10px"><%= link_to(share.player.user.name, player_path(share.player)) %> <span><%= share.created_at.strftime("%d/%m/%Y at %H:%M")%></span></p>
            <div>
              <cite><%= link_to(share.description, share_url(share)) %></cite>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
	</div>
	<div class="row">
		<div class="column grid_3">
			<div id="achievements">
				<h3 id="achievementTitle"><strong>Achievements</strong></h3>
				<% @player.achievements.find(:all, :limit => 50, :order => "created_at ASC").each do |achievement| %>
					<%= link_to(image_tag(achievement.image, :title => achievement.title + " : " + achievement.description, :class => "achievementPictureMini"), achievement_path(achievement)) %>
				<% end %>
			</div>	
		</div>
	</div>
</div>
