<div class="row">
	<div class="column grid_9 separation">
		<div class="row">
			<div class="column grid_2">
				<%= image_tag(@player.picture, :alt => "Profile pic") %>
			</div>
			<div class="column grid_6">
				<h2 id="player_name"><%= @player.name %></h2>
				<div id="progressbar_outer"><div id="progressbar_inner"><%= @player.points %> /20</div></div>
			</div>
		</div>
		<div class="row">
			<div class="column grid_2">
				&nbsp;
			</div>
			<div class="column grid_5">
				<hr>
				<div id="value">
					<table style="width:60%">
						<tr>
							<td></td>
							<td class="shares"><h6>TASKS</h6><br /><span class="numbers" id="tasks"><%= @player.tasks.count %></span></td>
							<td class="shares"><h6>LINKS</h6><br /><span class="numbers" id="links"><%= @player.links.count %></span></td>
							<td class="shares"><h6>XPS<h6><br /><span class="numbers" id="xps"><%= @player.xps.count %></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column grid_8">
				<div id="feed">
					<h3><strong>Activity</strong></h3>
					<br/>
					<%= @player.tasks.last.description %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column grid_3">
			<div id="achievements">
				<h3 id="achievementTitle"><strong>Achievements</strong></h3>
				<% @player.achievements.find(:all, :limit => 30, :order => 'created_at DESC').each do |achievement| %>
					<span class="badge">
					<%=image_tag(@achievement.picture, :alt =>"alttext", :class =>"classname here") %>
					</span>
				<% end %>
			</div>	
		</div>
	</div>
</div>
