
	<div class ="row">
		<div  class="column grid_9">
			<div id="achievementBox">
				<div class ="row">
					<div  class="column grid_11 achievementTitle">
						<h2><%=h @achievement.title %></h2>
					</div>
				</div>
				<div class ="row">
					<div  class="column grid_2">
						<div id="achievementPictureDiv">
							<%=h image_tag(@achievement.image, :class => 'achievementPicture') %>
						</div>
					</div>
					<div class="column grid_4 achievementDescription">
						<div id "achievementDescription">
							<h6><%=h @achievement.description %></h6>
						</div>
					</div>
				</div>
				<div class="achievementUnlockedBy">
					Unlocked By
				</div>
				<% @achievement.players.each do |player| %>
				<div class="row">
					<div class="column grid_8 profileBox">
						<div class="row">
							<div class="column grid_2">
								<%= image_tag(player.user.profile_image_url, :class => "avatar", :alt => player.user.name, :height => "140", :width => "140") %>
								<p class="level"><%=h player.points %></p>
							</div>
							<div class="column grid_3">
								<div class="row">
									<div class="column grid_3 profileName">
										<h3><a href="/profile"><%=h player.user.name %></a></h3>
									</div>
								</div>
								<div class="row">	
									<div class="column grid_3">
										<%= @achievement.created_at.strftime("%d/%m/%Y %H:%M") %>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<% end %>
			</div>	
		</div>

		<div class="column grid_3">
			<div id="achievements">
				<h3>Achievements</h3>
				<% @achievements.each do |achievement| %>
					<%=h link_to(image_tag(achievement.image, :title => achievement.title, :class => 'achievementPictureMini'), achievement_path(achievement)) %>
				<% end %>
			</div>
		</div>
		<div class="row">
		<div id="achievementNextStep" class="column grid_12">
			<h3>NEXT:</h3><br/>
			Diamond Phone (Make 20 phone calls)</div>	
		</div>
	</div>	
	</div>	
