<!DOCTYPE html> 
<html dir="ltr" lang="en-US"> 
  <head>
    <meta charset="utf-8" />
    <title><%= yield(:page_title) %></title>

    <%= stylesheet_link_tag 'default' %>
    <%= stylesheet_link_tag 'awesome' %>
    <%= stylesheet_link_tag 'share' %>
    <%= stylesheet_link_tag 'achievement' %>
    <%= stylesheet_link_tag 'leaderboard' %>
    <%= stylesheet_link_tag 'profile' %>

    <script type="text/javascript" src="http://use.typekit.com/flx7kua.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= javascript_include_tag 'jquery-1.4.4.min' %>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3586526-20']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
  </head>
  <body>
    <div class="row">
		<div class="column grid_6">
			<h1 class="header_title"><a href="/dashboard" onclick="pageTracker._trackEvent('Navigation', 'Home', 'logo');">mekaniko</a></h1>
		</div>
		<div class="column grid_6">
			<div id="nav">
				<ul>
					<li><a href="/dashboard" onclick="pageTracker._trackEvent('Navigation', 'Home', 'navbar');">Home</a></li>					
					<li>|</li>
					<li><%= link_to("My Profile", current_user ? player_path(current_user.player.id) : "") %></li>
					<li>|</li>
					<li><a href="/leaderboard">Leaderboard</a></li>
					<li>|</li>
					<li><%= link_to("Logout", "javascript:alert('Luis will implement it later.');", :onclick => "pageTracker._trackEvent('Logout', 'Idiots', 'nav');")%></li>
				</ul>
			</div>
		</div>
	</div>
    <div id="content">
      <%= yield %>
      <br/>
    </div>
    <br/>
    <div class="row">
      <div class="column grid_12">
          <p class="footer">&copy; 2010 - Mekaniko - All rights reserved</p> 
      </div>
    </div>
  </body>
</html>
